<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Nuovo Prodotto</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
				<label for="nome"><span class="required-asterisk">*</span>Nome</label>
				<div class="input-group">
					<input id="nome" placeholder="nome" name="nome" [(ngModel)]="nome" />
				</div>
				<label><span class="required-asterisk">*</span>Qualità</label>
				<div class="input-group">
					<select name="qualita" id="qualita" [(ngModel)]="qualita">
						<option [ngValue]="'Vivo'">Vivo</option>
						<option [ngValue]="'Fresco'">Fresco</option>
						<option [ngValue]="'Congelato'">Congelato</option>
					</select>
				</div>

				<label for="qntMinima"><span class="required-asterisk">*</span>Quantità Minima</label>
				<div class="input-group">
					<input id="qntMinima" placeholder="Quantità Minima" name="qntMinima" [(ngModel)]="qntMinima" />
				</div>
				<label for="qnt"><span class="required-asterisk">*</span>Quantità</label>
				<div class="input-group">
					<input id="qnt" placeholder="Quantità" name="qnt" [(ngModel)]="qnt" />
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button " class="btn btn-primary"
			(click)="open(conferma, 'conferma')">Aggiungi</button>
	</div>
</ng-template>

<ng-template #conferma let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Sicuro/a</h4>
	</div>
	<div class="modal-body">
		<div class="modal-body" style="float: right;">
			<button type="button " class="btn btn-primary"
				(click)="addProduct();">Conferma Aggiunta</button>
				<button type="button " class="btn btn-danger"
				(click)="modal.close()">Non confermare</button>
		</div>
	</div>
</ng-template>


<button class="btn btn-lg btn-primary" (click)="open(content, 'main')">Aggiungi</button>

<hr />