<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Nuova Etichetta</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="dataArrivo">DataArrivo</label>
        <div class="input-group">
          <input id="dataArrivo" placeholder="DataArrivo" name="DataArrivo" [(ngModel)]="dataArrivo" type="date"/>
        </div>
        <label for="descrizione">Descrizione</label>
        <div class="input-group">
          <input id="descrizione" placeholder="Descrizione" name="descriozione" [(ngModel)]="descrizione" />

        </div>
        <label for="abbattimento">Abbattimento</label>
        <div class="input-group">
          <input id="abbattimento" type="checkbox" placeholder="Abbattimento" name="abbattimento" [(ngModel)]="abbattimento" />
        </div>
        <label for="peso">Peso</label>
        <div class="input-group">
          <input id="peso" placeholder="Peso" name="peso" [(ngModel)]="peso" />
        </div>
        <label for="prodotto">Prodotto</label>
        <div class="input-group">
          <select [(ngModel)]="prodotto" name="prodotto">
            <option value="" disabled selected="selected"></option>
            <option *ngFor="let product of products" value="{{product.id}}">{{product.nome}} - {{product.qualita}}
            </option>
          </select>
        </div>
        <label for="ordineuscita">Ordine Uscita</label>
        <div class="input-group">
          <select [(ngModel)]="ordineuscita" name="ordineuscita">
            <option value="" disabled selected="selected"></option>
            <option *ngFor="let order of orders" value="{{order.id}}">{{order.id}}</option>
          </select>
        </div>

        <label for="scontoextra">Sconto Extra</label>
        <div class="input-group">
          <input id="scontoextra" placeholder="Sconto Extra" name="scontoextra" [(ngModel)]="scontoextra" />
        </div>
        <label for="posizione">Posizione</label>
        <div class="input-group">
          <select [(ngModel)]="selectedPosition" name="selectedPosition">
            <option value="" disabled selected="selected"></option>
            <option *ngFor="let position of positions" value="{{position.id}} - {{position.np}}">{{position.id}} -
              {{position.np}} - {{position.tipo}}</option>
          </select>
        </div>
        <label for="prenotazione">Prenotazione</label>
        <div class="input-group">
          <select [(ngModel)]="prenotazione" name="prenotazione">
            <option value="" disabled selected="selected"></option>
            <option *ngFor="let reservation of reservations" value="{{reservation.cf}}">{{reservation.nome}} -
              {{reservation.cognome}}</option>
          </select>
        </div>
        <label for="vendita">Vendita</label>
        <div class="input-group">
          <select [(ngModel)]="selectedVendita" name="selectedVendita">
            <option value="" disabled selected="selected"></option>
            <option *ngFor="let vendita of vendite" value="{{vendita.np}} - {{vendita.data}}">{{vendita.np}} -
              {{vendita.data}}</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="open(conferma)">Aggiungi</button>
  </div>
</ng-template>
<ng-template #conferma let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Sicuro/a</h4>
	</div>
	<div class="modal-body">
		<div class="modal-body" style="float: right;">
			<button type="button " class="btn btn-primary"
				(click)="addEtichetta;closeAllModal();">Conferma Aggiunta</button>
				<button type="button " class="btn btn-danger"
				(click)="modal.close()">Non confermare</button>
		</div>
	</div>
</ng-template>
<button class="btn btn-lg btn-primary" (click)="open(content)">Aggiungi</button>

<hr />