<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Nuova Etichetta</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="dataArrivo">DataArrivo</label>
        <div class="input-group">
          <input
            id="dataArrivo"
            placeholder="DataArrivo"
            name="DataArrivo"
            [(ngModel)]="dataArrivo"
          />
        </div>
        <label for="descrizione">Descrizione</label>
        <div class="input-group">
          <input
            id="descrizione"
            placeholder="Descrizione"
            name="descriozione"
            [(ngModel)]="descrizione"
          />

        </div>
        <label for="abbattimento">Abbattimento</label>
        <div class="input-group">
          <input
            id="abbattimento"
            placeholder="Abbattimento"
            name="abbattimento"
            [(ngModel)]="abbattimento"
          />
        </div>
        <label for="peso">Peso</label>
        <div class="input-group">
          <input
            id="peso"
            placeholder="Peso"
            name="peso"
            [(ngModel)]="peso"
          />
        </div>
        <label for="prodotto">Prodotto</label>
        <div class="input-group">
          <select [(ngModel)]="prodotto">
            <option value="" disabled selected="selected"></option>
            <option *ngFor="let product of products" value="{{product.id}}">{{product.nome}} - {{product.qualita}}</option>
          </select>
        </div>
        <label for="ordineuscita">Ordine Uscita</label>
        <div class="input-group">
          <input
            id="ordineuscita"
            placeholder="Ordine Uscita"
            name="ordineuscita"
            [(ngModel)]="ordineuscita"
          />
        </div>

        <label for="scontoextra">Sconto Extra</label>
        <div class="input-group">
          <input
            id="scontoextra"
            placeholder="Sconto Extra"
            name="scontoextra"
            [(ngModel)]="scontoextra"
          />
        </div>
        <label for="posizione">Posizione</label>
        <div class="input-group">
          <select [(ngModel)]="selectedPosition">
            <option value="" disabled selected="selected"></option>
            <option *ngFor="let position of positions" value="{{position.id}} - {{position.np}}">{{position.id}} - {{position.np}} - {{position.tipo}}</option>
          </select>
        </div>
        <label for="prenotazione">Prenotazione</label>
        <div class="input-group">
          <select [(ngModel)]="prenotazione">
            <option value="" disabled selected="selected"></option>
            <option *ngFor="let reservation of reservations" value="{{reservation.cf}}">{{reservation.nome}} - {{reservation.cognome}}</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="addEtichetta(); modal.close('Save click')">Save</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Aggiungi</button>

<hr />

