<div>
  <button class="btn btn-secondary" (click)="toggleSidebar()">Close</button>
  <div class="sidebar" [class.active]="isSidebarOpen">
    <button class="btn btn-secondary" (click)="toggleSidebar()">Close</button>
    <h2 class="text-white">Menu</h2>
    <nav class="nav flex-column">
      <div>
        <span class="nav-link" href="#" (mouseover)="showSubMenu('item1')" (mouseleave)="hideSubMenu('item1')">Prodotti</span>
        <div class="collapse sub-menu" [class.show]="activeSubMenu === 'item1'" (mouseover)="keepSubMenuOpen('item1')" (mouseleave)="hideSubMenu('item1')">
          <nav class="nav flex-column">
            <a class="nav-link" routerLink="/products">Prodotti</a>
            <a class="nav-link" routerLink="/reports">Reports</a>
            <a class="nav-link" routerLink="/labels">Etichette</a>
            <span class="nav-link">Prodotti Imballaggio</span>
            <span class="nav-link">Posizioni</span>
            <span class="nav-link">Smaltimento</span>
          </nav>
        </div>
      </div>
      <div>
        <a class="nav-link" href="#" (mouseover)="showSubMenu('item2')" (mouseleave)="hideSubMenu('item2')">Item 2</a>
        <div class="collapse sub-menu" [class.show]="activeSubMenu === 'item2'" (mouseover)="keepSubMenuOpen('item2')" (mouseleave)="hideSubMenu('item2')">
          <nav class="nav flex-column">
            <a class="nav-link" href="#">Subitem 2.1</a>
            <a class="nav-link" href="#">Subitem 2.2</a>
            <a class="nav-link" href="#">Subitem 2.3</a>
          </nav>
        </div>
      </div>
      <a class="nav-link" href="#">Item 3</a>
      <a class="nav-link" href="#">Item 4</a>
    </nav>
  </div>
</div>
