<style type="text/css">

  .sidebar li .submenu{ 
    list-style: none; 
    margin: 0; 
    padding: 0; 
    padding-left: 1rem; 
    padding-right: 1rem;
  }
  
  .sidebar .nav-link {
      font-weight: 500;
      color: var(--bs-dark);
  }
  .sidebar .nav-link:hover {
      color: var(--bs-primary);
  }
  
  </style>
  
  
  <script type="text/javascript">
  
    document.addEventListener("DOMContentLoaded", function(){
  
      document.querySelectorAll('.sidebar .nav-link').forEach(function(element){
  
        element.addEventListener('click', function (e) {
  
          let nextEl = element.nextElementSibling;
          let parentEl  = element.parentElement;	
  
          if(nextEl) {
            e.preventDefault();	
            let mycollapse = new bootstrap.Collapse(nextEl);
  
              if(nextEl.classList.contains('show')){
                mycollapse.hide();
              } else {
                mycollapse.show();
                // find other submenus with class=show
                var opened_submenu = parentEl.parentElement.querySelector('.submenu.show');
                // if it exists, then close all of them
              if(opened_submenu){
                new bootstrap.Collapse(opened_submenu);
              }
  
              }
            }
  
        });
      })
  
    }); 
    // DOMContentLoaded  end
  </script>
  
  
 
  <body class="bg-light">
  
  <header class="section-header py-3">
  <div class="container">
    
    <ul class="nav flex-column">

      <li><button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas">
        <i class="bi bi-list"></i>
      </button></li>
    </ul>
  </div>
  </header> <!-- section-header.// -->
  
  
  
  <!-- ============= COMPONENT ============== -->
  <div class="offcanvas offcanvas-start text-bg-dark" id="offcanvas">
    <div class="offcanvas-header">
      
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
  <nav class="sidebar card py-2 mb-4">
  <ul class="nav flex-column" id="nav_accordion">
    <li class="nav-item">
      <a class="nav-link" href="#"> Link name </a>
    </li>
    <li class="nav-item has-submenu">
      <a class="nav-link" href="#"> Submenu links <i class="bi small bi-caret-down-fill"></i> </a>
      <ul class="submenu collapse">
        <li><a class="nav-link" href="#">Submenu item 1 </a></li>
          <li><a class="nav-link" href="#">Submenu item 2 </a></li>
          <li><a class="nav-link" href="#">Submenu item 3 </a> </li>
      </ul>
    </li>
    <li class="nav-item has-submenu">
      <a class="nav-link" href="#"> More menus <i class="bi small bi-caret-down-fill"></i> </a>
      <ul class="submenu collapse">
        <li><a class="nav-link" href="#">Submenu item 4 </a></li>
          <li><a class="nav-link" href="#">Submenu item 5 </a></li>
          <li><a class="nav-link" href="#">Submenu item 6 </a></li>
          <li><a class="nav-link" href="#">Submenu item 7 </a></li>
      </ul>
    </li>
    <li class="nav-item has-submenu">
      <a class="nav-link" href="#"> Another submenus <i class="bi small bi-caret-down-fill"></i> </a>
      <ul class="submenu collapse">
        <li><a class="nav-link" href="#">Submenu item 8 </a></li>
          <li><a class="nav-link" href="#">Submenu item 9 </a></li>
          <li><a class="nav-link" href="#">Submenu item 10 </a></li>
          <li><a class="nav-link" href="#">Submenu item 11 </a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"> Demo link </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"> Menu item </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"> Something </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"> Other link </a>
    </li>
  </ul>
  </nav>
    </div>
  <!-- ============= COMPONENT END// ============== -->	
      
  




