<div class="main-container">
  <h2>Etichette</h2>

  <app-add-label (labelModified)="onLabelModified()"></app-add-label>
  <div class="input-group">
    <button class="btn btn-primary marR2" (click)="getLabelsBy()">Cerca</button>
    <input #inputValore [(ngModel)]="textSearch" class="marR2">
    <select #selectAttributo class="marR2" name="attributeSearch" id="attributeSearch" [(ngModel)]="attributeSearch">
      <option value="" style="display: none;" selected="selected">Attributo</option>
      <option [ngValue]="'id'">Id</option>
      <option [ngValue]="'prod_id'">Prodotto</option>
      <option [ngValue]="'peso'">Peso</option>
      <option [ngValue]="'descrizione'">Descrizione</option>
      <option [ngValue]="'data'">Data Arrivo</option>
      <option [ngValue]="'posizione'">Posizione</option>

    </select>
    <button class="btn btn-primary marR2" (click)="resetButton()">Reset</button>
  </div>

  <hr />
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" sortable="id" (sort)="onSort($event)">Id</th>
        <th scope="col"  [width]="10">Dettagli/Modifica</th>
        <th scope="col" sortable="prodotto" (sort)="onSort($event)">Prodotto</th>
        <th scope="col" sortable="posizioneluogo"(sort)="onSort($event)">Posizione</th>
        <th scope="col" sortable="peso" (sort)="onSort($event)">Peso</th>
        <th scope="col" sortable="descrizione" (sort)="onSort($event)">Descrizione</th>
        <th scope="col" sortable="dataarrivo" (sort)="onSort($event)">Data Arrivo</th>
        <th scope="col" sortable="abbattimento"(sort)="onSort($event)" >Abbattimento</th>
        <th scope="col" sortable="scontoextra" (sort)="onSort($event)">Sconto Extra</th>
      </tr>
    </thead>
    <tbody>
      @for (label of labels; track label.id) {

      <tr>
        <th scope="row">{{ label.id| number}}</th>
        <td><app-edit-label [etichetta]="label" (labelModified)="onLabelModified()"></app-edit-label></td>


        <td>

          <app-detail-product [productId]="label.prodotto"></app-detail-product>
        </td>

        <td>{{ label.posizioneid }} - {{label.posizionenp}} - {{label.posizionetipo}} - {{label.posizioneluogo}}</td>
        
        <td>{{ label.peso}}</td>
        <td>{{ label.descrizione }}</td>
        <td>{{ label.dataarrivo }}</td>
        <td>{{label.abbattimento }}</td>
        <td>{{ label.scontoextra }}</td>
      </tr>

      }
    </tbody>
  </table>

</div>