<div class="main-container">
  <h2>Etichette</h2>

  <app-add-label (labelModified)="onLabelModified()"></app-add-label>
  <div class="input-group">
    <button class="btn btn-primary marR2" (click)="getLabelsBy()">Cerca</button>
    <input #inputValore [(ngModel)]="textSearch" class="marR2">
    <select #selectAttributo class="marR2" name="attributeSearch" id="attributeSearch" [(ngModel)]="attributeSearch">
      <option value="" style="display: none;" selected="selected">Attributo</option>
      <option [ngValue]="'id'">Id</option>
      <option [ngValue]="'prod_id'">Prodotto</option>
      <option [ngValue]="'peso'">Peso</option>
      <option [ngValue]="'descrizione'">Descrizione</option>
      <option [ngValue]="'data'">Data Arrivo</option>
      <option [ngValue]="'posizione'">Posizione</option>

    </select>
    <button class="btn btn-primary marR2" (click)="resetButton()">Reset</button>
  </div>

  <hr />
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" class="cliccabile" sortable="id" (sort)="onSort($event)">Id</th>
        <th scope="col"  [width]="10">Dettagli/Modifica</th>
        <th scope="col" class="cliccabile" sortable="prodotto" (sort)="onSort($event)">Prodotto</th>
        <th scope="col" class="cliccabile" sortable="posizioneluogo"(sort)="onSort($event)">Posizione</th>
        <th scope="col" class="cliccabile" sortable="peso" (sort)="onSort($event)">Peso</th>
        <th scope="col" class="cliccabile" sortable="descrizione" (sort)="onSort($event)">Descrizione</th>
        <th scope="col" class="cliccabile" sortable="dataarrivo" (sort)="onSort($event)">Data Arrivo</th>
        <th scope="col" class="cliccabile" sortable="abbattimento"(sort)="onSort($event)" >Abbattimento</th>
        <th scope="col" class="cliccabile" sortable="scontoextra" (sort)="onSort($event)">Sconto Extra</th>
      </tr>
    </thead>
    <tbody>
      @for (label of labels; track label.id) {

      <tr>
        <th scope="row">{{ label.id| number}}</th>
        <td>
          <button class="btn btn-lg btn-outline-primary" (click)="premuto(label, 'edit')"><svg xmlns="http://www.w3.org/2000/svg"
            width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
            <path
              d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z">
            </path>
          </svg> </button>
          </td>


        <td>

                
      <button class="btn btn-lg btn-outline-primary button-as-text" (click)="premuto(label.prodotto, 'product')">
        {{label.id}}
      </button>
        </td>

        <td>{{ label.posizioneid }} - {{label.posizionenp}} - {{label.posizionetipo}} - {{label.posizioneluogo}}</td>
        
        <td>{{ label.peso}}</td>
        <td>{{ label.descrizione }}</td>
        <td>{{ label.dataarrivo | date: 'dd/MM/yyyy'}}</td>
        <td>{{label.abbattimento }}</td>
        <td>{{ label.scontoextra }}</td>
      </tr>

      }
    </tbody>
  </table>
  <app-detail-product></app-detail-product>
  <app-edit-label  (labelModified)="onLabelModified()"></app-edit-label>
</div>