<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Aggiorna Etichetta</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="dataarrivo">Data Arrivo</label>
        <div class="input-group">
          <input id="dataarrivo" placeholder="Data Arrivo" name="dataarrivo" type="date"
            value="{{etichetta?.dataarrivo}}" [(ngModel)]="dataarrivo" />
        </div>
        <label for="descrizione">Descrizione</label>
        <div class="input-group">
          <input id="descrizione" placeholder="Descrizione" name="descrizione" value="{{etichetta?.descrizione}}"
            [(ngModel)]="descrizione" />

        </div>
        <label for="abbattimento">Abbattimento</label>
        <div class="input-group">
          <input id="abbattimento" placeholder="Abbattimento" type="checkbox" name="abbattimento"
            value="{{etichetta?.abbattimento}}" [(ngModel)]="abbattimento" />
        </div>
        <label for="peso">Peso</label>
        <div class="input-group">
          <input id="peso" placeholder="Peso" name="peso" value="{{etichetta?.peso}}" [(ngModel)]="peso" />
        </div>
        <label for="prodotto">Prodotto</label>
        <div class="input-group">
          <select [(ngModel)]="prodotto" name="prodotto">
            <option value="{{etichetta?.prodotto}}" disabled selected="selected" style="display: none;">{{etichetta?.prodotto}}</option>
            <option *ngFor="let product of products" value="{{product.id}}">{{product.id}} - {{product.nome}} - {{product.qualita}}
            </option>
          </select>
        </div>
        <label for="ordineuscita">Ordine Uscita</label>
        <div class="input-group">
          <select [(ngModel)]="ordineUscita" name="ordineUscita">
            <option value="{{etichetta?.ordineUscita}}" disabled selected="selected" style="display: none;">{{etichetta?.ordineUscita}}</option>
            <option *ngFor="let order of orders" value="{{order.id}}">{{order.id}}</option>
          </select>
        </div>
        <label for="scontoextra">Scontro Extra</label>
        <div class="input-group">
          <input id="scontoextra" placeholder="Sconto Extra" name="scontoextra" value="{{etichetta?.scontoextra}}"
            [(ngModel)]="scontoextra" />
        </div>
        <label for="posizione">Posizione</label>
        <div class="input-group">
          <select [(ngModel)]="selectedPosition" name="selectedPosition" (ngModelChange)="onPositionChange($event)">
            <option value="{{etichetta?.posizioneid}}" disabled selected="selected" style="display: none;">{{etichetta?.posizioneid}}</option>
            <option *ngFor="let position of positions" value="{{position.id}}">{{position.id}}</option>
          </select>
          <select [(ngModel)]="selectedSlot" name="selectedSlot">
            <option value="{{etichetta?.posizionenp}}" disabled selected="selected" style="display: none;">{{etichetta?.posizionenp}}</option>
            <option *ngFor="let slot of slots" [value]="slot.np">{{slot.np}}</option> 
           </select> 
        </div>
        <label for="prenotazione">Prenotazione</label>
        <div class="input-group">
          <select [(ngModel)]="prenotazione" name="prenotazione">
            <option value="{{etichetta?.prenotazione}}" disabled selected="selected" style="display: none;">{{etichetta?.prenotazione}}</option>
            <option *ngFor="let reservation of reservations" value="{{reservation.cf}}">{{reservation.nome}} -
              {{reservation.cognome}}</option>
          </select>
        </div>
        <label for="vendita">Vendita</label>
        <div class="input-group">
          <select [(ngModel)]="selectedVendita" name="selectedVendita">
            <option value="" disabled selected="selected" style="display: none;"></option>
            <option *ngFor="let vendita of vendite" value="{{vendita.np}} - {{vendita.data}}">{{vendita.np}} -
              {{vendita.data}}</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn-danger btn"
      (click)="open(confermaDelete)">Elimina</button>
    <button type="button" class="btn btn-primary"
      (click)="open(confermaEdit)">Modifica</button>
  </div>
</ng-template>

<ng-template #confermaEdit let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Sicuro/a</h4>
	</div>
	<div class="modal-body">
		<div class="modal-body" style="float: right;">
			<button type="button " class="btn btn-primary"
				(click)="editEtichette();closeAllModal();">Conferma Modifica</button>
				<button type="button " class="btn btn-danger"
				(click)="modal.close()">Non confermare</button>
		</div>
	</div>
</ng-template>

<ng-template #confermaDelete let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Sicuro/a</h4>
	</div>
	<div class="modal-body">
		<div class="modal-body" style="float: right;">
			<button type="button " class="btn btn-primary"
				(click)="deleteEtichette();closeAllModal();">Conferma Eliminazione</button>
				<button type="button " class="btn btn-danger"
				(click)="modal.close()">Non confermare</button>
		</div>
	</div>
</ng-template>
<button class="btn btn-lg btn-outline-primary" (click)="open(content)"><svg xmlns="http://www.w3.org/2000/svg"
    width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
    <path
      d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z">
    </path>
  </svg> </button>

