<div class="main-container">
	<h2>Prodotti</h2>


	<app-add-products></app-add-products>

	<div class="input-group">

		<button class="btn btn-primary marR2" (click)="getProductsBy()">Cerca</button>
		<input class="marR2" [(ngModel)]="textSearch">
		<select class="marR2" name="attributeSearch" id="attributeSearch" [(ngModel)]="attributeSearch">
			<option value="" style="display: none;" selected="selected">Attributo</option>
			<option [ngValue]="'Codice'">Codice</option>
			<option [ngValue]="'Nome'">Nome</option>
			<option [ngValue]="'Qualita'">Qualita</option>
			<option [ngValue]="'SogliaMinima'">Soglia Minima</option>
			<option [ngValue]="'Quantita'">Quantità</option>
		</select>
		<button class="btn btn-primary marR2" (click)="getProducts()">Reset</button>

	</div>
	<hr />
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col" class="cliccabile" sortable="id" (sort)="onSort($event)">codice</th>
				<th scope="col">Dettagli/Modifica</th>
				<th scope="col" class="cliccabile" sortable="nome" (sort)="onSort($event)">Nome</th>
				<th scope="col" class="cliccabile" sortable="qualita" (sort)="onSort($event)">Qualita</th>
				<th scope="col" class="cliccabile" sortable="sogliaminima" (sort)="onSort($event)">Quantità minima</th>
				<th scope="col" class="cliccabile" sortable="quantita" (sort)="onSort($event)">Quantità</th>
			</tr>
		</thead>
		<tbody>
			@for (product of products; track product.id) {

			<tr>
				<th scope="row">{{ product.id| number}}</th>
				<td><app-edit-products [product]="product"></app-edit-products></td>
				<td>
					{{ product.nome }}
				</td>
				<td>{{ product.qualita}}</td>
				<td>{{ product.sogliaminima | number }}</td>
				<td>{{ product.quantita| number }}</td>
			</tr>

			}
		</tbody>
	</table>
	
</div>